*.py[cod]
.idea/
# C extensions
*.so
# Packages
PKG-INFO
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# package helper
knodle-*

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.ipynb_checkpoints

/venv

.python-version
.DS_Store

*.npy
runs/
runs_old/
wandb/
*.pt
launch.json
*.env

# Data:

examples/trainer/lightning/lightning_logs


# Large datasets
*.lib
*.pbz2
*.csv
data_from_minio/
