# General
joblib
tqdm

# Computation
numpy<1.20.0,>=1.16.5
scipy
pandas

# ML frameworks
scikit-learn
torch
snorkel<=0.9.7

# kNN
annoy

# graphics
matplotlib

# cleanlab
skorch
cleanlab==1.0

# bugfix https://stackoverflow.com/questions/72441758/typeerror-descriptors-cannot-not-be-created-directly
protobuf==3.20.*